@use "../helpers/" as *;

.testimonial {
	padding: 2.4rem 3.2rem;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	border-radius: 0.8rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	&__header {
		display: flex;
		gap: 1.7rem;
		&-avatar {
			width: 3rem;
			border-radius: 50%;
			border: 0.2rem solid rgba($light-grey, 0.5);
		}
		&-text {
			&-name {
				font-size: 1.3rem;
				line-height: 1.3rem;
				font-weight: map-get($font-weights, medium);
				margin-bottom: 0.4rem;
			}
			&-status {
				font-size: 1.1rem;
				line-height: 1.1rem;
				opacity: 0.5;
			}
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		&-title {
			font-size: 2rem;
			font-weight: map-get($font-weights, bold);
			line-height: 2.5rem;
		}
		&-review {
			opacity: 0.7;
			line-height: 1.8rem;
		}
	}
	&--light {
		background-color: $white;
		color: $very-dark-greyish-blue;
	}
	&--dark {
		background-color: $very-dark-blackish-blue;
		color: $white;
	}
	&.violet {
		position: relative;
		background-color: $moderate-violet;
		z-index: 5;
		.testimonial__content-title {
			&::after {
				content: "";
				position: absolute;

				top: 0;
				right: 14%;
				z-index: -1;

				background-image: url(../../images/bg-pattern-quotation.svg);
				background-repeat: no-repeat;
				height: 11rem;
				width: 11rem;
			}
		}
	}
	&.grey {
		background-color: $very-dark-greyish-blue;
	}
}
