@use "../helpers/" as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: $primary-font;
	// border: 1px solid grey;
}

body {
	box-sizing: border-box;
	// background-image: $gradients-1;
}

html {
	font-size: 62.5%;
}

.container {
	background-color: $light-grayish-blue;
}
